NODE_ENV=development
API_PORT=3100
WEB_ORIGIN=http://localhost:5174
DATABASE_HOST=localhost
DATABASE_PORT=3307
DATABASE_NAME=saas_portal
DATABASE_USER=saas_portal
DATABASE_PASSWORD=saas_portal_dev
DATABASE_ROOT_PASSWORD=root_dev_only
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_ACCESS_SECRET=replace-with-at-least-32-random-characters
JWT_ACCESS_TTL=15m
